.btn-father{
  display: flex;
}
.btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: @brand;
  height: @btn-height;
  font-size: @font-size-base;
  line-height: @line-height-base;
  color: @white;
  border:0;
  border-radius: @border-radius;
  padding: @btn-padding-y @btn-padding-x;
  /* identical to box height, or 157% */
  &:hover{
    background-color: @brand-D100;
    border:0;
  }
  &:active{
    background-color: @brand-D200;
    border:0;
  }
  &:focus{
   box-shadow: @box-shadow;
  }
  &.disabled{
    background: @brand-D300;
    opacity: 0.4;
  }
  *{
    margin-right: @spacer;
  }

}
//大号按钮和小号按钮的大小
.right{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  &>*{
    margin:4px;

  }
}
.btn+div{
  display: none;
}

//secondary 按钮
.btn-secondary{
  background-color: #FFFFFF;
  color: #18253D;
  /* 中性色 Neutral/N40 */
  border: 1px solid @brand-gray-100;
  &:hover{
    color: @brand-D300;
    background-color: @white;
    /* 中性色 Neutral/N40 */
    border: 1px solid @brand-D300;
  }
  &:active{
    color: @brand-D400;
    background-color: @white;
    /* 中性色 Neutral/N40 */
    border: 1px solid @brand-D400;
  }
  &:focus{
    background-color: #FFFFFF;
    box-shadow: @box-shadow;
  }
  &.disabled{
       color: @brand-gray;
     border: 1px solid @brand-gray;
       background: @brand-gray-200;
     }
}
//common 按钮
.btn-common{
  background: @white;
  /* 品牌色 Brand/BR50 */
  color: @brand-D300;
  border: 1px solid @brand-D300;
  box-sizing: border-box;
  border-radius: 4px;
  &:hover{
    color: @brand-D300;
    background-color: @brand-100;
    /* 中性色 Neutral/N40 */
    border: 1px solid @brand-D300;
  }
  &:active{
    color: @brand-D400;
    background-color: @brand-200;
    /* 中性色 Neutral/N40 */
    border: 1px solid @brand-D400;
  }
  &:focus{
    background-color: @white;
    box-shadow: @box-shadow;
  }
  &.disabled{
    color: @brand-gray;
    background: @white;
    border: 1px solid @brand-gray;
  }

}

//subtle 按钮
.btn-subtle{
  background-color: @white;
  border: 1px solid @white;
  color: #2675FC;
  &:hover{
    color: @brand-D300;
    background-color: @brand-100;
    /* 中性色 Neutral/N40 */
    border: 1px solid @white;
  }
  &:active{
    color: @brand-D400;
    background-color: @brand-200;
    /* 中性色 Neutral/N40 */
    border: 1px solid @white;
  }
  &:focus{
    color: @brand-D400;
    background-color: @brand-200;
    /* 中性色 Neutral/N40 */
    border: 1px solid @white;
    box-shadow: none;
  }
  &.disabled{
    color: @brand-gray;
    background: @white;
    border: 0;
  }
}
// subtle neutral 清浅按钮
.btn-subtleNeutral{
  background-color: @white;
  border: 1px solid @white;
  color: #18253D;
  &:hover{
    color: #18253D;
    background-color: #F8F9FA;
    /* 中性色 Neutral/N40 */
    border: 1px solid @white;
  }
  &:active{
    color: #2675FC;
    background-color: #F0F9FF;
    /* 中性色 Neutral/N40 */
    border: 1px solid @white;
  }
  &:focus{
    color: #2675FC;
    background-color: #F0F9FF;
    /* 中性色 Neutral/N40 */
    border: 1px solid @white;
    box-shadow: none;
  }
  &.disabled{
    color: @brand-gray;
    background: @white;
    border: 0;
  }
}
// text 按钮
.btn-text{
  border: 0;
  background-color: @white;
  font-family: @font-family-base ;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  display: flex;
  align-items: center;

  /* 品牌色 Brand/BR50 */

  color: #2675FC;
  &:hover{
    color: #1C59D4;
    border: 0;
    background-color: @white;
  }
  &:active{
    color: #0E3EAD;
    border: 0;
    background-color: @white;
  }
  &:focus{
    color: #0E3EAD;
    border: 0;
    background-color: @white;
    box-shadow: none;
  }
  &.disabled{
    color: #B8C0D1;
    border: 0;
    background-color: @white;
  }
}
// 中性文字按钮
.btn-textNeutral {
  border: 0;
  background-color: @white;
  font-family: @font-family-base ;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  display: flex;
  align-items: center;

  /* 品牌色 Brand/BR50 */

  color:#18253D;
  &:hover{
    color: #2675FC;
    border: 0;
    background-color: @white;
  }
  &:active{
    color: #1C59D4;
    border: 0;
    background-color: @white;
  }
  &:focus{
    color: #1C59D4;
    border: 0;
    background-color: @white;
    box-shadow: none;
  }
  &.disabled{
    color: #B8C0D1;
    border: 0;
    background-color: @white;
  }
}
// Menu Button 菜单按钮
.btn-menu{
  /* 中性色 Neutral/N00 */
  background-color: @white;
  /* 中性色 Neutral/N40 */
  color: #18253D;
  border: 1px solid #CED4E0;
  border-radius: 4px 0px 0px 4px;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
  &:hover{
    background: #FFFFFF;
    /* 品牌色 Brand/BR50 */

    border: 1px solid #2675FC;
  }
  &:active{
    background: #FFFFFF;
    /* 品牌色 Brand/BR50 */

    border: 1px solid #2675FC;

  }
  &:focus{
    background: #FFFFFF;
    /* 品牌色 Brand/BR50 */
    border: 1px solid #2675FC;
    box-shadow: 0px 0px 0px 4px rgba(45, 147, 250, 0.2);
  }
  &+div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6px;
    width: 32px;
    height: 32px;
    /* 中性色 Neutral/N00 */

    background: #FFFFFF;
    /* 品牌色 Brand/BR50 */

    border: 1px solid #CED4E0;
    border-radius: 0px 4px 4px 0px;
    &:hover{
      background: #FFFFFF;
      /* 品牌色 Brand/BR50 */

      border: 1px solid #2675FC;
    }
    &:active{
      background: #FFFFFF;
      /* 品牌色 Brand/BR50 */

      border: 1px solid #2675FC;

    }
    &:focus{
      background: #FFFFFF;
      outline: none;
      /* 品牌色 Brand/BR50 */
      border: 1px solid #2675FC;
      box-shadow: 0px 0px 0px 4px rgba(45, 147, 250, 0.2);
    }
  }
}
// subtle Menu Button 清浅菜单按钮
//with Border 描边菜单按钮
// 菜单按钮组
.btn-lg{
  height: @btn-height-lg;
  padding: @btn-padding-y-lg @btn-padding-x-lg;
  font-size: @font-size-lg;
}
.btn-sm{
  height: @btn-height-sm;
  padding: @btn-padding-y-sm @btn-padding-x-sm;
  font-size: @font-size-sm;
}
