.Modal{
  position: absolute;
  width: @modal-width-first;
  top: @modal-distance;
  max-height: calc(100vh - @modal-distance*2);
  overflow-y: auto;
  left:50%;
  margin-left: calc(-@modal-width-first*0.5);
  z-index: 9999;
  padding: 0;
  /* 中性色 Neutral/N00 */
  background: @white;
  /* 阴影 Shadow/S4 */
  box-shadow: @modal-boxShadow;
  border-radius: @modal-margin;
  .Modal-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    height: @modal-header-height;
    border-radius: @modal-margin @modal-margin 0 0;
    /* 中性色 Neutral/N00 */
    background: @white;
    .title{
      margin-left: @modal-content-margin;
    }
    .icon{
      margin-right: @modal-content-margin;
    }
  }
  .Modal-content{
    margin: @modal-content-margin;
    background-color: @brand-100;
  }
  .Modal-footer{
    height: @modal-header-height;
    border-radius: 0 0 @modal-margin @modal-margin ;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    /* 中性色 Neutral/N00 */
    .ModalButton{
         width: 60px;
         height: 32px;
      margin-right: 20px;
       }
  }
  hr{
    height: 1px;
    background:@brand-gray;
  }

}
.Modal-secondary{
  width: @modal-width-second;
  margin-left: calc(-@modal-width-second*0.5);
}
.Modal-third{
  width: @modal-width-third;
  margin-left: calc(-@modal-width-third*0.5);
}
.Modal-fourth{
  width: @modal-width-fourth;
  margin-left: calc(-@modal-width-fourth*0.5);
}
.Modal-fifth{
  width: @modal-width-fifth;
  margin-left: calc(-@modal-width-fifth*0.5);
}
.Modal-sixth{
  width: @modal-width-sixth;
  margin-left: calc(-@modal-width-sixth*0.5);
  background-color: #0E3EAD;
}// 宽度六个尺寸：320、440、680、920、1200、1500（响应式），高度根据自定义

